#card-index {
    position: relative;
    cursor: pointer;

    .card-body {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.829);
    }
    &:hover .card-body  {
        display: flex;
    }
}
